@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* abstrakcijos */
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
.container {
  width: 1080px;
  margin: auto;
}
li {
  list-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
.sleeve {
  background: #7abcac;
  width: 72px;
  height: 10px;
  margin-bottom: 19px;
  margin-top: 11px;
}
.sleeve-first {
  width: 100%;
  height: 61px;
  margin: 0;
}
.hr {
  width: 100%;
  height: 4px;
  background: #dcdcdc;
  position: absolute;
  top: 43px;
  z-index: -1;
}
.static {
  position: static;
  margin: 20px 0;
}
.rotate {
  transform: translate(225px, 150px) rotate(90deg);
  width: 250px;
  height: 2px;
}
span {
  text-transform: uppercase;
}
header {
  margin: auto;
  text-align: center;
  width: 586px;
  height: 189px;
  border: 4px solid #000000;
}
main {
  margin-top: 65px;
}
section {
  position: relative;
}
p {
  /* width: 100%; */
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: #000000;
}
.green {
  background: #7abcac;
}
.yellow {
  background: #d8da79;
}
.red {
  background: #c29486;
}
img {
  transform: translateY(8px);
}
/* tikslinimai */
header h1 {
  margin-top: 43px;
  font-size: 48px;
}
header h3,
footer h3 {
  width: 248px;
  height: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  background: #000000;
  color: #ffffff;
  margin: auto;
  margin-top: 19px;
  text-align: center;
}
section:first-of-type p {
  padding-bottom: 92px;
  font-weight: 500;
}
li p {
  display: inline;
  padding-left: 12px;
}
section:nth-of-type(2) ul {
  padding-bottom: 50px;
}
section:nth-of-type(3) p {
  line-height: 23px;
}
section:nth-of-type(3) p:last-of-type {
  padding-bottom: 52px;
}
section:nth-of-type(3) .static {
  width: 200px;
}
section:nth-of-type(4) span,
section:nth-of-type(5) span {
  padding: 2px 10px;
  height: 20px;
  border-radius: 11px;
}
section:nth-of-type(4) p,
section:nth-of-type(5) p {
  margin: 30px 0;
}
section:nth-of-type(6) {
  margin-top: 80px;
}
article {
  width: 315px;

  display: inline-block;
  box-sizing: content-box;
}
article:nth-of-type(2) {
  padding: 0 60px 70px 65px;
}
article h5,
article h6 {
  text-align: center;
  line-height: 21px;
}
h5 {
  font-weight: 700;
  font-size: 16px;
}
h6 {
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  margin-bottom: 30px;
}
article p,
article li {
  font-weight: 500;
}
article li {
  list-style: disc;
}
section .rotate:nth-of-type(2) {
  transform: translate(605px, 150px) rotate(90deg);
}
footer p {
  text-align: center;
  margin-top: 12px;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover,
a:focus,
a:active {
  color: #7abcac;
}
