@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  /* abstrakcijos */
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
.container-width {
  max-width: 1080px;
  margin: auto;
}
.container {
  padding: 0 15px;
}
li {
  list-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
.sleeve {
  background: #7abcac;
  max-width: 72px;
  height: 10px;
  margin-bottom: 19px;
  margin-top: 11px;
}
.sleeve-first {
  background: #7abcac;
  height: 61px;
  margin: auto;
}
.hr {
  width: 100%;
  height: 4px;
  background: #dcdcdc;
  position: absolute;
  top: 3px;
  z-index: -1;
}
.static {
  position: static;
  margin: 20px 0;
}
span {
  text-transform: uppercase;
}
header {
  margin: auto;
  text-align: center;
  max-width: 586px;
  border: 4px solid #000000;
  padding: 43px 0px 37px 0px;
  position: relative;
  top: -25px;
}
main {
  margin-top: 65px;
}
.divider {
  position: relative;
}
p {
  /* width: 100%; */
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: #000000;
}
.pill-container {
  margin: 30px 0;
}
.pill {
  text-transform: uppercase;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 11px;
}
.green {
  background: #7abcac;
}
.yellow {
  background: #d8da79;
}
.red {
  background: #c29486;
}
img {
  vertical-align: middle;
}
/* tikslinimai */
header h1 {
  font-size: 48px;
}
header h3,
footer h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  background: #000000;
  color: #ffffff;
  margin-top: 19px;
  text-align: center;
}
footer h3 {
  display: block;
}
header h3 {
  padding: 2px 35px;
}
.not-bold {
  font-weight: 500;
}
li {
  margin-bottom: 10px;
}
li p {
  display: inline;
  padding-left: 12px;
}
section article:nth-of-type(2) {
  border-left: 3px solid #dcdcdc;
  border-right: 3px solid #dcdcdc;
  padding: 0 15px;
}
article h5,
article h6 {
  text-align: center;
  line-height: 21px;
}
h5 {
  font-weight: 700;
  font-size: 16px;
}
h6 {
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  margin-bottom: 30px;
}
footer {
  text-align: center;
  padding-bottom: 50px;
}
footer p {
  text-align: center;
  margin-top: 12px;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover,
a:focus,
a:active {
  color: #7abcac;
}

/* grid */

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-gap: 65px;
  padding-bottom: 35px;
}
.flex-container {
  display: flex;
  gap: 65px;
}
.flex-container > * {
  flex: 1;
}
.container-pg {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 15px;
  padding-bottom: 35px;
}
.container-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template: repeat(3, auto) / 100%;
    grid-gap: 40px;
  }
  .flex-container {
    flex-direction: column;
    gap: 40px;
  }
  .container-pg {
    grid-template: repeat(3, auto) / 100%;
    row-gap: 15px;
  }
  .container-pg article:nth-of-type(2) {
    padding: 20px 0;
    border-top: 2px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    border-right: none;
    border-left: none;
  }
  .container-footer {
    grid-template: repeat(3, auto) / 100%;
    row-gap: 30px;
  }
}
